
.login-body {
    background: url("../img/baner.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.register-body {
    background: url("../img/baner2.png") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

.login-card {
    width: 25rem;
    background: rgba(141, 28, 170, 0.55);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 2rem;
    color: #ffffff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
    animation: fadeIn 0.8s ease;
}
/* Inputs*/
.form-control {
    border-radius: 12px;
    padding: 0.8rem;
    border: none;
}
/*Botón ingresar*/
.btn-primary {
    background: #5c49dc;
    border: none;
    border-radius: 12px;
    padding: 0.8rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #634775;
    transform: scale(1.03);
}

/* Link  que direcciona a el registro*/
a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* tarjeta del registro*/
.register-card {
    width: 32rem;
    background: rgba(77, 76, 76, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    color: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
    animation: fadeIn 0.8s ease;
}
/*Animación */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}